venv/
__pycache__/
*.pyc
.env
db.sqlite3
credentials/
credentials.json
media/
staticfiles/

backups/
test_media/
test_db.sqlite3
temp_restore/
*.bak
*.backup
*.dump


# Certificates and keys
*.pem
*.key
*.crt
*.cert

# Logs
*.log
logs/

